/* ------------------ header --------------- -- */
body {

  margin: 0;

}

header {

  box-shadow: 0px 3px 5px #CCCCCC;
  margin: 0;
  padding: 9px 0px;
  position: relative;
  z-index: 1;
}

.container {

  width: 1400px;
  margin: auto;

}

.navbar {

  list-style-type: none;
  font-size: 15px;
  margin:0 ;
}

li.navitem {

  display: inline;
  border-right: 1px solid #777777;
}

li.navitem a {

  padding: 0px 8px;
  color: #555555;
}

li.navitem a:link {

  text-decoration: none;
}

li.navitem a:hover {

  text-decoration: underline;
  color: #0654BA;
}

#sing-style a:link {

  color: #0654BA;
}

.float-right {

  float: right;
}

#shopcart {
  width: 20px;
  height: 20px;
  background: gray;
}

.no-border {

  border-right: none !important;
}

#alert {

  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: yellow;
}

#brand {

  margin-left: 30px;
}

.shopping-button {

  margin-top: 0px;
}

/* <!-- ------------------ search form --------------- -- --> */

#search-bar {

  width: 100%;
  height: 65px;
  overflow: hidden;
}

.setbgcolor {

  background-color: #F9F9F9;

}

.clearfix {

  clear: both;
}

#brand {

  float: left;
}

#shopping-button {

  float: left;

  /* width:50px;

font-size: 14px;
color:#555555;
border: none;
background-color: #F9F9F9; */
  margin-left: 5px;
}

#pic {

  position: relative;
  top: 1px;

}

#search-form {

  float: left;
  margin-top: 10px;
  margin-left: 15px;
}

#search-field {

  border-radius: 3px 0 0 3px;
  width: 400px;
  height: 40px;
  box-sizing: border-box;
}

.text-field {

  font-size: 16px;
  color: #767676;
  padding: 10px 0 9px 8px;
  border: 1px solid #ddd;
}

#category-textfiled {

  border-radius: 0 3px 3px 0;
  padding: 11px 10px;
  width: 180px;
  height: 40px;
  box-sizing: border-box;
  margin-left: -4px;
}

.options {

  border: none;
  font-size: 14px;
  width: 100%;
  background-color: transparent;
}

.btn-prim {

  font-size: 16px;
  height: 40px;
  border-radius: 3px;
  border: 0px;

  font-weight: 500;
  color: #fff;
  background: linear-gradient(to bottom, #0079bc, #00509d);

}

.btn-prim:hover {

  background: #00509d;
}

#advanced-buttun {

  color: #555555;
  text-decoration: none;
  font-size: 11px;
  margin-left: 10px;
}

#advanced-buttun:hover {

  color: #065dBA;
}
/* ------------------- navigation bar --------------------- */

nav{

width:100%;
height: 35px;
padding-top: 12px;

}
.tb-border{

border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;


}
#navigation-bar{

width: 100%;

padding:10px 0 11px 0 ;

height: 35px ;
box-sizing: border-box;
}
.li-space{

float:left;
padding: 0 2%;
}
.divider{

width: 1px;
height: 24px;
background: #ddd;
float: left;
margin: -5px 20px 0 20px ;
}
.active a{

font-weight: bold;
border-bottom: 2px solid #555;
}
/* <!-- !--------------------- Advertisment --------------------- --> */
#adSection{

height: 400px ;
padding: 30px 0 ;
}
#colu1{

float: left;
height: 400px ;

}
#colu2{

position: relative;

float: left;
height: 400px ;
width: 1100px ;
height: 409.5px;
}
.add-border{

border:1px solid #ddd;
box-sizing: border-box;
}
#ad2{

position: absolute;
top:0 ;
right: 0;

}
#ad3{

position: absolute;
bottom:0;
left:0;

}
/* <!-- !--------------------- product section--------------------- --> */

#productSection{

width: 100%;
height: 647px;

padding-bottom: 75px;
overflow: hidden;

}
.hero-heading{

height: 45px;
border-bottom: 1px solid #ddd;
}
#show-product{

width: 100%;
height: 600px;
}
.product-section{

width: 585px;
height: 602.5px;
float:left;
}
.product-photo{

width: 585px;
height: 420px;

}
.photo-colu1{

float:left;
width: 445px;
height: 420px;
border-width: 1px 0 1px 1px ;
border-color: #ddd;
border-style: solid;

box-sizing: border-box;
overflow: hidden;

}
#photo1{

width: 420px;
position: relative;
left:15px;
overflow: hidden;

}
.photo-colu2{

float:left;
width: 140px;
height: 420px;
}
.thumb{

width: 140px;
height: 140px;
border-width: 1px 1px 0 1px ;
border-color: #ddd;
border-style: solid;
box-sizing: border-box;
overflow: hidden;
}
.thumb:last-child{

border-width: 1px 1px 1px 1px ;
}
.thumbnail{

height: 140px;

}
#thumbnail-fix{

position: relative;
right:20px;
left:0px;
}

              /* ------------- article ----------- */
article{

color:#333333;
}
    .title{

      font-weight: 400;
      font-size: 26px;
      margin: 18px 0 10px 0 ;

    }
    .description-container{

      width: 370px;
      height: 118px;
    }
    .product-detail{

      font-weight: 400;
      font-size: 16px;
      line-height: 1.5em;
    }
    .read-more{

      background-image: url("img/read more.png");
      width: 28px;
      height: 28px;
      display: inline-block;
      background-size: cover;
      vertical-align: middle;
    }
    .left-col{

      float:left;
      width: 440px;

    }
    .right-col{

      float:right;
      width: 140px;

    }
    .right-col-text{

      text-align: center;
      color:#333333;
      font-size: 14px;
      font-weight: bold;

    }
    .right-col-container{

      padding-left: 8px;
      padding-right: 8px;
      margin: 0;
      list-style-type: none;
    }
    .right-col-item{

      padding:18px 0 ;
      border-bottom: 1px solid #ddd;
    }
    .right-col-item:last-child{

      border:none;
    }
    .right-col-item a:link{

      text-decoration: none;
      color: #0654BA;
    }
    .right-col-item a:hover{

      text-decoration: underline;
      color: #0654BA;
    }
/* ------------------ product2------------------- */

.right-section{

position: absolute;
right: 20px ;

}
